*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#calculator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 10%);
  border-radius: 1rem;
  max-width: 400px;
  overflow: hidden;
  
}
#display{
  width: 100%;
  font-size: 5rem;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: white;
}
#keys{
  gap: 10px;
  padding: 25px;
  outline: 1px solid red;
  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-columns:  repeat(4,1fr);

}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0.05rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 40%);
  border: none;
  box-shadow: 0px 0px 2px rgba(185, 184, 184, 0.406);
  cursor:  pointer;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(236, 251, 255);

  transition: all 3ms ease-in-out;
}
button:hover{
  background-color: hsl(0, 0%, 45%);
  transform: scale(1.05);
}
button:active{
  background-color: hsl(0, 0%, 55%);
  border: 0.1px solid white;
}
.operator-btn{
  background-color: hsl(35, 100%, 50%);
}
.operator-btn:hover{
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
  background-color: hsl(35, 100%, 70%);
}